<ion-header>

  <ion-navbar color="custome-primary">
    <ion-title>{{project.project_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <div class="cover-container">
    <div class="conver-image-container">
      <img [src]="project.image" imageViewer>
    </div>
    <div class="cover-text-container">
      <div class="project-name">
        {{project.project_name}}
      </div>
      <div>
        <ion-note>
          {{project.date_created | date:'dd/MM/yyyy HH:mm'}}
        </ion-note>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>עריכת פרויקט</div>
            <div class="budget-container">
              <button class="budget" (click)="onEditProject()">
                <ion-icon name="create"></ion-icon>
              </button>
            </div>
          </ion-col>
          <ion-col>
            <div>שליחת Doc</div>
            <div class="budget-container">
              <button class="budget" (click)="createDocx()">
                <ion-icon name="download"></ion-icon>
              </button>
            </div>
          </ion-col>
          <ion-col>
            <div>מחק פרויקט</div>
            <div class="budget-container">
              <button class="budget delete" (click)="onDeleteProject()">
                <ion-icon name="trash"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="description-container">
    <div class="description-header">
      תיאור הפרויקט
    </div>
    <div class="description-content">
      {{project.description}}
    </div>
  </div>


  <div class="project-items-container">
    <div class="project-items-header">
      <ion-row>
        <ion-col col-11>
          תכני הפרויקט
        </ion-col>
        <ion-col col-1>
          <button ion-button icon-only small [clear]="true" (click)="onAddProjectItem()">
            <ion-icon name='add'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
    <div class="project-items-content">
      <ion-list>
        <ion-item-sliding class="project-item-btn" *ngFor="let item of project.itemsProject">
          <ion-item class="project-item-btn" (click)="onProjectItemClick(item)">
            <!-- <button class="project-item-btn" ion-item (click)="onProjectItemClick(item)" *ngFor="let item of project.itemsProject"> -->
            <ion-row>
              <ion-col col-10>
                <h3>{{item.project_item_name}}</h3>
                <p>{{item.date_created | date:'dd/MM/yyyy HH:mm'}}</p>
              </ion-col>
              <ion-col col-2>
                <ion-icon class="item-button-icon" name="arrow-back"></ion-icon>
              </ion-col>
            </ion-row>
            <!-- </button> -->
          </ion-item>
          <ion-item-options side="left" style="direction:ltr">
            <button ion-button icon-only color="danger">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only color="custome-primary" (click)="onEditProjectItem(item)">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>



  <div class="contacts-container">
    <div class="contacts-header">
      <ion-row>
        <ion-col col-11>
          אנשי קשר
        </ion-col>
        <ion-col col-1>
          <button ion-button icon-only small [clear]="true" (click)="onAddContact()">
            <ion-icon name='add'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
    <div class="contacts-content">
      <ion-list>
        <ion-item-sliding class="contact-btn" *ngFor="let contact of project.contacts">
          <ion-item class="contact-btn" (click)="onContactClick(contact)">
            <!-- <button class="contact-btn" ion-item *ngFor="let contact of project.contacts"></button> -->
            <ion-row>
              <ion-col col-10>
                <h3>{{contact.firstName}} {{contact.lastName}}</h3>
              </ion-col>
              <ion-col col-2>
                <ion-icon class="item-button-icon" name="arrow-back"></ion-icon>
              </ion-col>
            </ion-row>
            <!-- </button> -->
          </ion-item>
          <ion-item-options side="left" style="direction:ltr">
            <button ion-button icon-only color="danger">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only color="custome-primary">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>