page-projectlist {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 50px 1px;
        direction: rtl;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
    }

    .content:after {
        background-image: url(../assets/images/background.jpg);
        background-position: top center;
        background-image: url(../assets/images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
    }

    ion-searchbar {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        top: 0%;
        position: absolute;
        right: 2.5em;
        /* -webkit-transform: translate(-50%, 0); */
        /* transform: translate(50%, 0); */
        direction: rtl;
        width: 75%;
        height: 100%;
        padding: 0;
        margin: 0;
        width: 0%;
    }

    ion-searchbar input {
        padding: .5em 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        background-color: rgba(0,0,0,0)!important;
        border: none !important;
        border-bottom: 2px solid #fff !important;
        transition: all .5s;
        color: #fff!important;
    }

    ion-searchbar .searchbar-search-icon {
        display: none;
    }

    ion-searchbar.showSeach {
        // top: 0%;
        width: 75%;
        
    }

    ion-searchbar.showSeach input {
        padding: 0.5em 2.5em !important;
    }
    

    ion-searchbar.showSeach .searchbar-search-icon {
        display: block;
    }

    ion-searchbar .searchbar-input-container {
        height: 100%;
    }

    .scroll-content {
        margin-top: 4em;
    }

    ion-card {
        direction: rtl;
    }

    .card {
        margin: 0!important;
        margin-top: 10px!important;
        width: 100%!important;        
    }

    .card-header-btn {
        contain: none;
        height: auto;
        background: rgba(46, 62, 80, 1);
        margin: 0!important;
        color: #fff!important;
    }

    .card-header-btn h2, .card-header-btn h3 {
        color: #fff;
    }

    .card-header-btn .date {
        color: grey;
    }

    .card-header-btn-content {
        background: rgba(0,0,0,0);
    }

    ion-icon {
        padding-left: 0.3em;
        padding-right: 0;  
    }

    ion-card {
        max-height: 550px;
    }

    ion-card-content {
        max-height: 30%;
        overflow: overlay;
    }

    .created-before {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .toast-message {
        direction: rtl;
    }
}
