page-signin {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 50px 1px;
        direction: rtl;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
      }

    .scroll-content {
        background-position: top center;
        background-image: url(../assets/images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4em;
    }

    .scroll-content::before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, #000, #fff);
        opacity: .6; 
    }

    ion-card-content {
        color:#fff!important;
        padding: 1em 0em!important;
    }

    ion-row {
        margin: 2em 0;
    }

    ion-col {
        padding: 0;
    }

    label {
        font-weight: bold;
        font-size: 1em!important;
        color: #000!important;
        position: absolute;
        transition: all 0.5s;
        transform: translate(0em,-1.5em);
    }
    
    label.floating {
        transform: translate(0em,-3em);
    }

    input:focus ~ label {
        transform: translate(0em,-3em);
    }

    input {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #000;
    }

    .header-container {
        position: relative;
    }

    .logo {
        font-family: Sacramento-Regular;
        text-align: center;
        font-weight: bold;
        font-size: 5em;
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    }

    ion-content {
        direction: rtl;
    }

    .card-container {
        position: relative;
        // top: 50%;
        // transform: translateY(-100%);
    }

    ion-card.card {
        // background: rgba(255,255,255,0.8);
        // background: rgba(46, 62, 80, 1);
        background: transparent;
        box-shadow: none;
        border-radius: 5px;
    }

    .signin {
        border: 1px solid #fff;
        color: #fff;
        font-weight: bold;
    }
}
